## **0. Importar archivos** df_users_review_curado_sentiments

In [64]:
import pandas as pd
import os

In [65]:
ruta_juegos = "bases/steam_games_curado.parquet"
# Importar df_juegos
df_juegos = pd.read_parquet(ruta_juegos)

ruta_sentiments="bases/users_review_curado_sentiments.parquet"
# Importar df con rv y sentimientos
df_users_review_curado_sentiments = pd.read_parquet(ruta_sentiments, engine='pyarrow')


#Importar
ruta_userrevs = "bases/user_items_curado.parquet"
# Importar el archivo Parquet como un DataFrame
df_usit = pd.read_parquet(ruta_userrevs)

Cambios

In [66]:
df_juegos['item_id'] = df_juegos['item_id'].astype(str)
df_juegos.rename(columns={'year': 'year_release'}, inplace=True)
df_juegos['year_release'] = pd.to_numeric(df_juegos['year_release'], errors='coerce').astype('Int64')


df_usit["playtime_forever"] = df_usit["playtime_forever"]/60
df_usit['item_id'] = df_usit['item_id'].astype(str)

df_users_review_curado_sentiments['item_id'] = df_users_review_curado_sentiments['item_id'].astype(str)
df_users_review_curado_sentiments.rename(columns={'year': 'year_review'}, inplace=True)
df_users_review_curado_sentiments['year_review'] = pd.to_numeric(df_users_review_curado_sentiments['year_review'], errors='coerce').astype('Int64')

Visualizar todos los dfs y sus variables

In [67]:
# Obtener las columnas de cada DataFrame
columnas_juegos = df_juegos.columns.tolist()
columnas_usrev = df_users_review_curado_sentiments.columns.tolist()
columnas_usit = df_usit.columns.tolist()

# Encontrar la longitud máxima entre las listas de columnas
longitud_maxima = max(len(columnas_juegos), len(columnas_usrev), len(columnas_usit))

# Asegurar que todas las listas tengan la misma longitud llenando con NaN
columnas_juegos += [None] * (longitud_maxima - len(columnas_juegos))
columnas_usrev += [None] * (longitud_maxima - len(columnas_usrev))
columnas_usit += [None] * (longitud_maxima - len(columnas_usit))

# Crear un DataFrame con las columnas como filas
df_comparacion = pd.DataFrame({
    'df_juegos': columnas_juegos,
    'df_users_review_curado_sentiments': columnas_usrev,
    'df_usit': columnas_usit
})

# Imprimir el DataFrame de comparación
print(df_comparacion)

      df_juegos df_users_review_curado_sentiments           df_usit
0       item_id                           user_id           user_id
1     publisher                           item_id          steam_id
2        genres                         recommend           item_id
3      app_name                            review         item_name
4         price                       year_review  playtime_forever
5  early_access                   Sentiment_Score              None
6     developer                              None              None
7  year_release                              None              None

## **0.1. Prints de los dfs**

In [68]:
df_juegos

,item_id,publisher,genres,app_name,price,early_access,developer,year_release
0,761140,Kotoshiro,Action,Lost Summoner Kitty,4.99,False,kotoshiro,2018
0,761140,Kotoshiro,Casual,Lost Summoner Kitty,4.99,False,kotoshiro,2018
0,761140,Kotoshiro,Indie,Lost Summoner Kitty,4.99,False,kotoshiro,2018
0,761140,Kotoshiro,Simulation,Lost Summoner Kitty,4.99,False,kotoshiro,2018
0,761140,Kotoshiro,Strategy,Lost Summoner Kitty,4.99,False,kotoshiro,2018
...,...,...,...,...,...,...,...,...
32132,610660,Laush Studio,Racing,Russian Roads,1.99,False,laush dmitriy sergeevich,2018
32132,610660,Laush Studio,Simulation,Russian Roads,1.99,False,laush dmitriy sergeevich,2018
32133,658870,SIXNAILS,Casual,EXIT 2 - Directions,4.99,False,xropistevns,2017
32133,658870,SIXNAILS,Indie,EXIT 2 - Directions,4.99,False,xropistevns,2017
32134,681550,Sin dato,Sin dato,Maze Run VR,4.99,True,Sin dato,<NA>

In [69]:
df_users_review_curado_sentiments

,user_id,item_id,recommend,review,year_review,Sentiment_Score
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2011,1
1,76561197970982479,22200,True,It's unique and worth a playthrough.,2011,2
2,76561197970982479,43110,True,Great atmosphere. The gunplay can be a bit chu...,2011,1
3,js41637,251610,True,I know what you think when you see this title ...,2014,1
4,js41637,227300,True,For a simple (it's actually not all that simpl...,2013,1
...,...,...,...,...,...,...
58395,76561198312638244,70,True,a must have classic from steam definitely wort...,<NA>,2
58396,76561198312638244,362890,True,this game is a perfect remake of the original ...,<NA>,1
58397,LydiaMorley,273110,True,had so much fun plaing this and collecting res...,<NA>,1
58398,LydiaMorley,730,True,:D,<NA>,2
58399,LydiaMorley,440,True,so much fun :D,<NA>,2

In [70]:
df_usit

,user_id,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,76561197970982479,10,Counter-Strike,0.100000
1,76561197970982479,76561197970982479,20,Team Fortress Classic,0.000000
2,76561197970982479,76561197970982479,30,Day of Defeat,0.116667
3,76561197970982479,76561197970982479,40,Deathmatch Classic,0.000000
4,76561197970982479,76561197970982479,50,Half-Life: Opposing Force,0.000000
...,...,...,...,...,...
5153204,76561198329548331,76561198329548331,346330,BrainBread 2,0.000000
5153205,76561198329548331,76561198329548331,373330,All Is Dust,0.000000
5153206,76561198329548331,76561198329548331,388490,One Way To Die: Steam Edition,0.050000
5153207,76561198329548331,76561198329548331,521570,You Have 10 Seconds 2,0.066667
5153208,76561198329548331,76561198329548331,519140,Minds Eyes,0.050000

## **MERGES**

In [71]:
# merge para PlayTimeGenre
df_f1 = pd.merge(df_juegos, df_usit, on='item_id', how='inner')

# merge User for genre
# merge UsersRecommend
df_f2_f3 = pd.merge(df_f1, df_users_review_curado_sentiments, on=['user_id', 'item_id'], how='inner')


# merge pra words developer
# merge para analisis de sentimiento
df_f4_f5 = pd.merge(df_juegos, df_users_review_curado_sentiments, on='item_id', how='inner')
# Reemplazar "Sin dato" por NaN en la columna "developer"
df_f4_f5['developer'].replace('Sin dato', pd.NA, inplace=True)

# Eliminar filas con NaN en la columna "developer"
df_f4_f5.dropna(subset=['developer'], inplace=True)

In [72]:
# Obtener información detallada de cada DataFrame
info_df_f1 = df_f1.info()
info_df_f2_f3 = df_f2_f3.info()
info_df_f4_f5 = df_f4_f5.info()

# Imprimir la información
print("Información detallada del DataFrame df_f1:")
print(info_df_f1)
print("\nInformación detallada del DataFrame df_f2_f3:")
print(info_df_f2_f3)
print("\nInformación detallada del DataFrame df_f4_f5:")
print(info_df_f4_f5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965687 entries, 0 to 9965686
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   publisher         object
 2   genres            object
 3   app_name          object
 4   price             float64
 5   early_access      bool
 6   developer         object
 7   year_release      Int64
 8   user_id           object
 9   steam_id          object
 10  item_name         object
 11  playtime_forever  float64
dtypes: Int64(1), bool(1), float64(2), object(8)
memory usage: 855.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99137 entries, 0 to 99136
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           99137 non-null  object
 1   publisher         99137 non-null  object
 2   genres            99137 non-null  object
 3   app_name          99137 non-null  object
 4   price             99137 non-null  float64
 5   early_access      99137 non-null  bool
 6   developer         99137 non-null  object
 7   year_release      97508 non-null  Int64
 8   user_id           99137 non-null  object
 9   steam_id          99137 non-null  object
 10  item_name         99137 non-null  object
 11  playtime_forever  99137 non-null  float64
 12  recommend         99137 non-null  bool
 13  review            99137 non-null  object
 14  year_review       80738 non-null  Int64
 15  Sentiment_Score   99137 non-null  int64
dtypes: Int64(2), bool(2), float64(2), int64(1), object(9)
memory usage: 11.0+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 123918 entries, 0 to 127746
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   item_id          123918 non-null  object
 1   publisher        123918 non-null  object
 2   genres           123918 non-null  object
 3   app_name         123918 non-null  object
 4   price            123918 non-null  float64
 5   early_access     123918 non-null  bool
 6   developer        123918 non-null  object
 7   year_release     123786 non-null  Int64
 8   user_id          123918 non-null  object
 9   recommend        123918 non-null  bool
 10  review           123918 non-null  object
 11  year_review      101825 non-null  Int64
 12  Sentiment_Score  123918 non-null  int64
dtypes: Int64(2), bool(2), float64(1), int64(1), object(7)
memory usage: 11.8+ MB
Información detallada del DataFrame df_f1:
None

Información detallada del DataFrame df_f2_f3:
None

Información detallada del DataFrame df_f4_f5:
None

## **1. Función PlayTimeGenre (FUNCIONA. Revisado)**

PlayTimeGenre

Para esta función, necesitarás realizar un merge entre df_juegos y df_usit para combinar la información de género (genres) y horas jugadas (playtime_forever). El objetivo es calcular las horas jugadas por género para cada año y luego identificar el año con más horas jugadas para el género dado.

### **1. Codigo de la función playtime_genre**

In [73]:

def playtime_genre(genero: str):
    # Filtra el DataFrame por el género específico
    filtered_df = df_f1[df_f1['genres'] == genero]

    # Agrupa por año y calcula las horas jugadas sumando
    grouped_df = filtered_df.groupby('year_release')['playtime_forever'].sum().reset_index()

    # Encuentra el año con más horas jugadas
    max_year = grouped_df.loc[grouped_df['playtime_forever'].idxmax()]['year_release']

    return {"Año de lanzamiento con más horas jugadas para {}: {}".format(genero, max_year)}

In [74]:
playtime_genre("Action")

{'Año de lanzamiento con más horas jugadas para Action: 2012.0'}

In [75]:
playtime_genre("Casual")

{'Año de lanzamiento con más horas jugadas para Casual: 2015.0'}

### **Probar que la función es válida**

In [76]:
filtered_df = df_f1[df_f1['genres'] == 'Action']

# Agrupa por año y calcula la frecuencia de horas jugadas
frequency_df = filtered_df.groupby('year_release')['playtime_forever'].sum().reset_index()

# Ordena de mayor a menor
sorted_df = frequency_df.sort_values(by='playtime_forever', ascending=False)

# Convierte el DataFrame a formato JSON para la respuesta
result = sorted_df.to_dict(orient='records')

result

[{'year_release': 2012, 'playtime_forever': 18093918.5},
 {'year_release': 2013, 'playtime_forever': 6925370.533333333},
 {'year_release': 2011, 'playtime_forever': 5528294.466666667},
 {'year_release': 2015, 'playtime_forever': 4365485.15},
 {'year_release': 2010, 'playtime_forever': 3001456.066666667},
 {'year_release': 2014, 'playtime_forever': 2782664.2333333334},
 {'year_release': 2009, 'playtime_forever': 2730561.3833333333},
 {'year_release': 2004, 'playtime_forever': 2161565.933333333},
 {'year_release': 2017, 'playtime_forever': 2105572.533333333},
 {'year_release': 2016, 'playtime_forever': 1596852.6666666667},
 {'year_release': 2008, 'playtime_forever': 558994.4833333333},
 {'year_release': 2000, 'playtime_forever': 305964.25},
 {'year_release': 2007, 'playtime_forever': 292170.13333333336},
 {'year_release': 2005, 'playtime_forever': 204415.71666666667},
 {'year_release': 2003, 'playtime_forever': 198223.38333333333},
 {'year_release': 2006, 'playtime_forever': 179546.85},
 {'year_release': 1998, 'playtime_forever': 48318.6},
 {'year_release': 1999, 'playtime_forever': 45252.61666666667},
 {'year_release': 2001, 'playtime_forever': 22105.166666666668},
 {'year_release': 2002, 'playtime_forever': 12201.7},
 {'year_release': 1997, 'playtime_forever': 5997.266666666666},
 {'year_release': 1995, 'playtime_forever': 3602.4},
 {'year_release': 1994, 'playtime_forever': 2002.95},
 {'year_release': 1996, 'playtime_forever': 1130.7333333333333},
 {'year_release': 1993, 'playtime_forever': 410.3833333333333},
 {'year_release': 1990, 'playtime_forever': 305.5833333333333},
 {'year_release': 1988, 'playtime_forever': 266.68333333333334},
 {'year_release': 1983, 'playtime_forever': 57.88333333333333},
 {'year_release': 1991, 'playtime_forever': 41.7},
 {'year_release': 2018, 'playtime_forever': 37.06666666666667},
 {'year_release': 1992, 'playtime_forever': 32.083333333333336},
 {'year_release': 1989, 'playtime_forever': 10.116666666666665},
 {'year_release': 1984, 'playtime_forever': 6.4}]

En efecto, para "Action", 2012 tiene la mayor cantidad de horas jugadas

In [77]:
filtered_df = df_f1[df_f1['genres'] == 'Casual']

# Agrupa por año y calcula la frecuencia de horas jugadas
frequency_df = filtered_df.groupby('year_release')['playtime_forever'].sum().reset_index()

# Ordena de mayor a menor
sorted_df = frequency_df.sort_values(by='playtime_forever', ascending=False)

# Convierte el DataFrame a formato JSON para la respuesta
result = sorted_df.to_dict(orient='records')

result

[{'year_release': 2015, 'playtime_forever': 1361806.0833333333},
 {'year_release': 2017, 'playtime_forever': 848709.1333333333},
 {'year_release': 2016, 'playtime_forever': 729989.5166666667},
 {'year_release': 2014, 'playtime_forever': 419957.06666666665},
 {'year_release': 2012, 'playtime_forever': 339370.55},
 {'year_release': 2013, 'playtime_forever': 215208.8},
 {'year_release': 2011, 'playtime_forever': 99698.0},
 {'year_release': 2010, 'playtime_forever': 79596.61666666667},
 {'year_release': 2009, 'playtime_forever': 15613.616666666667},
 {'year_release': 2007, 'playtime_forever': 12158.683333333332},
 {'year_release': 1999, 'playtime_forever': 10548.816666666668},
 {'year_release': 2008, 'playtime_forever': 9491.083333333334},
 {'year_release': 2006, 'playtime_forever': 3937.95},
 {'year_release': 2002, 'playtime_forever': 1026.8666666666666},
 {'year_release': 2000, 'playtime_forever': 885.3},
 {'year_release': 1994, 'playtime_forever': 766.25},
 {'year_release': 2005, 'playtime_forever': 678.4666666666667},
 {'year_release': 1997, 'playtime_forever': 542.0166666666667},
 {'year_release': 1996, 'playtime_forever': 509.75},
 {'year_release': 2004, 'playtime_forever': 403.6166666666667},
 {'year_release': 1993, 'playtime_forever': 367.31666666666666},
 {'year_release': 1998, 'playtime_forever': 215.96666666666667},
 {'year_release': 2001, 'playtime_forever': 104.05},
 {'year_release': 1995, 'playtime_forever': 59.21666666666667},
 {'year_release': 1983, 'playtime_forever': 57.88333333333333},
 {'year_release': 2003, 'playtime_forever': 50.8},
 {'year_release': 1992, 'playtime_forever': 41.53333333333333},
 {'year_release': 1991, 'playtime_forever': 22.583333333333332},
 {'year_release': 1984, 'playtime_forever': 6.4}]

Con "Casual" se presenta misma validez. Su año más jugado es 2015, tal como indica la función

## **2. Función UserForGenre (FUNCIONA. REVISADO)**


df_f2_f3 es resultado de realizar un segundo merge entre el resultado del paso 1 df_f1 y df_users_review_curado_sentiments utilizando las columnas user_id y item_id

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

### **Codigo de la función**

In [78]:
def UserForGenre(genero: str):
    # Filtrar el DataFrame por el género específico
    df_genre = df_f2_f3[df_f2_f3['genres'] == genero]

    # Agrupar por usuario y año, sumar las horas jugadas
    grouped_df = df_genre.groupby(['user_id', 'year_release'])['playtime_forever'].sum().reset_index()

    # Encontrar al usuario con más horas jugadas
    max_user = grouped_df.loc[grouped_df['playtime_forever'].idxmax()]['user_id']

    # Filtrar el DataFrame original para obtener las horas jugadas por año del usuario máximo
    max_user_df = df_f2_f3[df_f2_f3['user_id'] == max_user]
    max_user_hours_by_year = max_user_df.groupby('year_release')['playtime_forever'].sum().reset_index()

    # Crear la lista de la acumulación de horas jugadas por año
    horas_jugadas_por_anio = [{"Año": int(anio), "Horas": int(horas)} for anio, horas in zip(max_user_hours_by_year['year_release'], max_user_hours_by_year['playtime_forever'])]

    # Crear el diccionario de retorno
    resultado = {"Usuario con más horas jugadas para Género " + genero: max_user, "Horas jugadas": horas_jugadas_por_anio}

    return resultado

# Llamada de ejemplo con el género 'Action'
resultado_ejemplo = UserForGenre('Casual')
print(resultado_ejemplo)

{'Usuario con más horas jugadas para Género Casual': 'tsunamitad', 'Horas jugadas': [{'Año': 2004, 'Horas': 38}, {'Año': 2006, 'Horas': 16}, {'Año': 2008, 'Horas': 174}, {'Año': 2011, 'Horas': 30003}]}

### Probar que la función es válida

In [79]:
# Filtrar el DataFrame por el género específico
df_genre = df_f2_f3[df_f2_f3['genres'] == 'Casual']

# Agrupar por usuario y año, sumar las horas jugadas
grouped_df = df_genre.groupby(['user_id', 'year_release'])['playtime_forever'].sum().reset_index()

# Calcular la cantidad total de horas jugadas por género
total_hours_by_genre = df_genre.groupby('year_release')['playtime_forever'].sum().reset_index()

# Usuarios con más horas jugadas para el género 'Action'
top_users = grouped_df.groupby('user_id')['playtime_forever'].sum().reset_index().sort_values(by=['playtime_forever'], ascending=False)['user_id'].unique()[0:3]

# Crear un diccionario para almacenar los resultados
resultados_usuarios = {}

# Iterar sobre los usuarios seleccionados
for user_id in top_users:
    # Filtrar el DataFrame original para obtener las horas jugadas por año del usuario
    user_df = df_f2_f3[(df_f2_f3['user_id'] == user_id) & (df_f2_f3['genres'] == 'Casual')]
    user_hours_by_year = user_df.groupby('year_release')['playtime_forever'].sum().reset_index()

    # Crear la lista de la acumulación de horas jugadas por año
    horas_jugadas_por_anio = [{"Año": int(anio), "Horas": int(horas)} for anio, horas in zip(user_hours_by_year['year_release'], user_hours_by_year['playtime_forever'])]

    # Almacenar los resultados para este usuario
    resultados_usuarios[user_id] = {
        "Total horas jugadas": int(user_df['playtime_forever'].sum()),
        "Horas jugadas por año": horas_jugadas_por_anio
    }

# Mostrar los resultados
for user_id, info in resultados_usuarios.items():
    print(f"Usuario {user_id} - Total de horas jugadas: {info['Total horas jugadas']} - Horas jugadas por año para el género Action:")
    print(info["Horas jugadas por año"])
    print("\n")

# Mostrar la cantidad total de horas jugadas por género
print("Total de horas jugadas por género:")
print(total_hours_by_genre)

Usuario tsunamitad - Total de horas jugadas: 10001 - Horas jugadas por año para el género Action:
[{'Año': 2011, 'Horas': 10001}]


Usuario 76561197972452208 - Total de horas jugadas: 3466 - Horas jugadas por año para el género Action:
[{'Año': 2015, 'Horas': 3466}]


Usuario Ahahahahahahahahahahahahahahaha - Total de horas jugadas: 3319 - Horas jugadas por año para el género Action:
[{'Año': 2015, 'Horas': 3319}]


Total de horas jugadas por género:
    year_release  playtime_forever
0           1992          0.833333
1           1993          0.850000
2           1994          1.116667
3           1996         16.133333
4           1997          8.216667
5           1998          4.183333
6           1999        545.650000
7           2001          1.483333
8           2002          1.466667
9           2003          0.200000
10          2004         19.166667
11          2006         45.600000
12          2007        446.233333
13          2008         22.700000
14          2009        379.916667
15          2010        833.583333
16          2011      11207.116667
17          2012      13978.183333
18          2013       7258.116667
19          2014      18624.516667
20          2015      52222.200000
21          2016      39888.533333
22          2017      73898.900000

Al ver el ranking de usuarios se comprueba que la función opera como debería

## **3. Función users recommend** (FUNCIONA)

def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

Se utiliza el mismo merge de la funcion 2

### **Codigo de la función**

In [80]:
def UsersRecommend(year: int):
    # Filtrar por año
    df_filtered = df_f2_f3[df_f2_f3['year_review'] == year]

    # Filtrar por recomendaciones positivas/neutrales
    df_filtered = df_filtered[(df_filtered['recommend'] == True) & (df_filtered['Sentiment_Score'].isin([1, 2]))]

    # Obtener el top 3 de juegos más recomendados
    top_games = df_filtered.groupby('item_name')['recommend'].count().sort_values(ascending=False).head(3)

    # Crear el diccionario de resultados en el formato deseado
    top_games_dict = {f'Puesto {i+1}': juego for i, (juego, count) in enumerate(zip(top_games.index, top_games.values))}

    # Devolver el diccionario en el formato deseado
    return top_games_dict

# Llamada de ejemplo con el año 2012
resultado_ejemplo1 = UsersRecommend(2012)
resultado_ejemplo1

{'Puesto 1': 'Terraria',
 'Puesto 2': 'Realm of the Mad God',
 'Puesto 3': "Garry's Mod"}

### **Probar que la función es válida**

In [81]:
# Convertir 'year_review' a tipo numérico (int) si no lo está ya
df_f2_f3['year_review'] = pd.to_numeric(df_f2_f3['year_review'], errors='coerce')

# Filtrar los años de interés
years_of_interest = [2012, 2013, 2014]
df_filtered_years = df_f2_f3[df_f2_f3['year_review'].isin(years_of_interest)]

# Filtrar solo los casos en los que 'recommend' es True y 'Sentiment_Score' es 1 o 2
filtered_data = df_filtered_years[(df_filtered_years['recommend'] == True) & (df_filtered_years['Sentiment_Score'].isin([1, 2]))]

# Agrupar por año, juego y calcular las estadísticas
grouped_stats = filtered_data.groupby(['year_review', 'item_name']).agg({
    'recommend': 'sum',
    'Sentiment_Score': 'sum'
}).reset_index()

# Ordenar por frecuencia de recomendaciones en orden descendente
sorted_stats = grouped_stats.sort_values(by=['year_review', 'recommend'], ascending=[True, False])

# Seleccionar los top 5 juegos para cada año
top5_per_year = sorted_stats.groupby('year_review').head(3)

print("Top 5 juegos recomendados por año:")
top5_per_year

Top 5 juegos recomendados por año:

      year_review             item_name  recommend  Sentiment_Score
157          2012              Terraria        128              204
124          2012  Realm of the Mad God         60               85
66           2012           Garry's Mod         58               92
373          2013           Garry's Mod        552              802
609          2013              Terraria        476              668
591          2013             Starbound        405              590
1703         2014              Unturned       2145             3005
1426         2014                  Rust       1848             2544
1067         2014           Garry's Mod       1258             1774

Es válida. El orden que da la función es el mismo orden del ranking creado

## **4. Función UsersWorstDeveloper**

def UsersWorstDeveloper( año : int ): Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

Merge necesario

df_juegos, df_users_review_curado_sentiments, on='item_id', how='inner'

df_f4_f5

### **CODIGO DE LA FUNCION**

In [93]:
def UsersWorstDeveloper(year: int):
    # Filtrar por el año deseado en la columna 'year_review'
    df_year = df_f4_f5[df_f4_f5['year_review'] == year]

    # Agrupar por desarrolladora y calcular las estadísticas
    grouped_stats = df_year.groupby('developer').agg({
        'recommend': lambda x: (x == False).sum(),
        'Sentiment_Score': lambda x: (x == 0).sum()
    }).reset_index()

    # Ordenar por la suma de juegos no recomendados en orden descendente
    sorted_stats = grouped_stats.sort_values(by=['recommend'], ascending=[False])

    # Seleccionar las top 3 desarrolladoras
    top3_developers = sorted_stats.head(3)

    # Crear el formato de retorno como un diccionario
    result = {f"Puesto {i}": developer for i, developer in enumerate(top3_developers['developer'], 1)}

    return result

# Ejemplo de uso
resultado_ejemplo1 = UsersWorstDeveloper(2013)
resultado_ejemplo1

{'Puesto 1': 'valve',
 'Puesto 2': 'archive entertainment',
 'Puesto 3': 'facepunch studios'}

### **Validación de la función**

In [83]:
# Años de interés
years_of_interest = [2013, 2014, 2015]

# Mostrar resultados para cada año
for year in years_of_interest:
    # Filtrar por el año deseado en la columna 'year_review'
    df_year = df_f4_f5[df_f4_f5['year_review'] == year]

    # Agrupar por desarrolladora y calcular las estadísticas
    grouped_stats = df_year.groupby('developer').agg({
        'recommend': lambda x: (x == False).sum(),
        'Sentiment_Score': lambda x: (x == 0).sum()
    }).reset_index()

    # Ordenar por la suma de juegos no recomendados en orden descendente
    sorted_stats = grouped_stats.sort_values(by=['recommend'], ascending=[False])

    # Seleccionar las top 5 desarrolladoras
    top5_developers = sorted_stats.head(5)

    # Mostrar resultados para el año específico
    print(f"Resultados para el año {year}:")
    print(top5_developers)
    print("\n")

    print("\n")

Resultados para el año 2013:
                 developer  recommend  Sentiment_Score
410                  valve         39              138
15   archive entertainment         24                6
134      facepunch studios         22               84
13       andrii vintsevych         20               20
209          jagex limited         20               16




Resultados para el año 2014:
                 developer  recommend  Sentiment_Score
82     bohemia interactive        300              475
285      facepunch studios        212              518
748  smartly dressed games        175              370
911                  valve        149              493
307                freejam        138              138




Resultados para el año 2015:
                                              developer  recommend  \
140                                 bohemia interactive        336
397                                   facepunch studios        314
1252                                              valve        215
1105  studio wildcardinstinct gamesefecto studiosvir...        180
1035                              smartly dressed games        175

      Sentiment_Score
140               257
397               376
1252              383
1105              195
1035              250

Se observa que el resultado de la función, es decir el ordenamiento, es coherente tanto con la frecuencia de las no recomendaciones y como con la frencuencia de la evaluacion negativa de sentimiento.

## **5. FUNCION SENTIMENT_ANALYSIS**

merge propuesto

In [84]:
merged_df = pd.merge(df_users_review_curado_sentiments, df_juegos, on='item_id', how='inner')
merged_df

,user_id,item_id,recommend,review,year_review,Sentiment_Score,publisher,genres,app_name,price,early_access,developer,year_release
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2011,1,Tripwire Interactive,Action,Killing Floor,19.99,False,tripwire interactive,2009
1,death-hunter,1250,True,"Amazing, Non-stop action of blowing stuff to b...",2015,2,Tripwire Interactive,Action,Killing Floor,19.99,False,tripwire interactive,2009
2,DJKamBer,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",2013,0,Tripwire Interactive,Action,Killing Floor,19.99,False,tripwire interactive,2009
3,diego9031,1250,True,Jogo ♥♥♥♥.,2015,1,Tripwire Interactive,Action,Killing Floor,19.99,False,tripwire interactive,2009
4,76561198081962345,1250,True,cara nas imagens esse jogo da pouco de medo ma...,2014,1,Tripwire Interactive,Action,Killing Floor,19.99,False,tripwire interactive,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127742,MeloncraftLP,262850,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,<NA>,2,SkyGoblin,Indie,The Journey Down: Chapter Two,19.99,False,skygoblin,2014
127743,vinquility,431510,True,Highly recommended! The storyline for shou is ...,<NA>,2,Aeon Dream Studios,Adventure,Mystic Destinies: Serendipity of Aeons,0.00,False,aeon dream studios,2016
127744,vinquility,431510,True,Highly recommended! The storyline for shou is ...,<NA>,2,Aeon Dream Studios,Casual,Mystic Destinies: Serendipity of Aeons,0.00,False,aeon dream studios,2016
127745,vinquility,431510,True,Highly recommended! The storyline for shou is ...,<NA>,2,Aeon Dream Studios,Indie,Mystic Destinies: Serendipity of Aeons,0.00,False,aeon dream studios,2016
127746,vinquility,431510,True,Highly recommended! The storyline for shou is ...,<NA>,2,Aeon Dream Studios,Simulation,Mystic Destinies: Serendipity of Aeons,0.00,False,aeon dream studios,2016

### **CODIGO DE LA FUNCION**

In [98]:
def sentiment_analysis(developer):
    # Filtrar el dataframe por la desarrolladora especificada
    developer_df = df_f4_f5[df_f4_f5['developer'] == developer]

    # Sumar los valores de Sentiment_Score para cada categoría
    negative_sum = developer_df[developer_df['Sentiment_Score'] == 0].shape[0]
    neutral_sum = developer_df[developer_df['Sentiment_Score'] == 1].shape[0]
    positive_sum = developer_df[developer_df['Sentiment_Score'] == 2].shape[0]

    # Crear el diccionario de salida
    result_dict = {
        developer: {
            'Negative': negative_sum,
            'Neutral': neutral_sum,
            'Positive': positive_sum
        }
    }

    return result_dict

# Ejemplo de uso
developer_name = "valve"
result = sentiment_analysis(developer_name)
result

{'valve': {'Negative': 1296, 'Neutral': 6942, 'Positive': 5514}}

### VALIDACION DE LA FUNCION.

In [86]:
developer_name = "tripwire interactive"
developer_df = df_f4_f5[df_f4_f5['developer'] == developer_name]

# Sumar los valores de Sentiment_Score para cada categoría
negative_sum = developer_df[developer_df['Sentiment_Score'] == 0].shape[0]
neutral_sum = developer_df[developer_df['Sentiment_Score'] == 1].shape[0]
positive_sum = developer_df[developer_df['Sentiment_Score'] == 2].shape[0]

# Imprimir los resultados
print(f"Suma de 0s para {developer_name}: {negative_sum}")
print(f"Suma de 1s para {developer_name}: {neutral_sum}")
print(f"Suma de 2s para {developer_name}: {positive_sum}")

Suma de 0s para tripwire interactive: 128
Suma de 1s para tripwire interactive: 373
Suma de 2s para tripwire interactive: 269

## Drop de columnas no utilizadas

In [87]:
# Seleccionar columnas para df_f1
df_f1 = df_f1[['genres', 'year_release', 'playtime_forever']]

# Seleccionar columnas para df_f2_f3
df_f2_f3 = df_f2_f3[['genres', 'year_release', 'playtime_forever',"recommend", "user_id", "item_name", "developer", "year_review", "Sentiment_Score" ]]

# Seleccionar columnas para df_f4_f5
df_f4_f5 = df_f4_f5[["genres", "year_release", "user_id",  'developer', "recommend", 'year_review', 'Sentiment_Score']]

## Exportar los merge realizados

In [88]:

# Directorio de salida
directorio_salida = "bases/"

# Verificar si el directorio existe, si no, crearlo
if not os.path.exists(directorio_salida):
    os.makedirs(directorio_salida)

# Rutas completas de los archivos Parquet
ruta_archivo_parquet_f1 = os.path.join(directorio_salida, "df_f1.parquet")
ruta_archivo_parquet_f2_f3 = os.path.join(directorio_salida, "df_f2_f3.parquet")
ruta_archivo_parquet_f4_f5 = os.path.join(directorio_salida, "df_f4_f5.parquet")

# Exportar los DataFrames a archivos Parquet
df_f1.to_parquet(ruta_archivo_parquet_f1)
df_f2_f3.to_parquet(ruta_archivo_parquet_f2_f3)
df_f4_f5.to_parquet(ruta_archivo_parquet_f4_f5)

print(f"DataFrame df_f1 exportado a: {ruta_archivo_parquet_f1}")
print(f"DataFrame df_f2_f3 exportado a: {ruta_archivo_parquet_f2_f3}")
print(f"DataFrame df_f4_f5 exportado a: {ruta_archivo_parquet_f4_f5}")

c:\Users\Legion 5 3060\.conda\envs\SoyHenryProyectconda\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

DataFrame df_f1 exportado a: bases/df_f1.parquet
DataFrame df_f2_f3 exportado a: bases/df_f2_f3.parquet
DataFrame df_f4_f5 exportado a: bases/df_f4_f5.parquet

importamos y probamos

In [89]:
# Directorio de entrada
directorio_entrada = "bases/"

# Rutas completas de los archivos Parquet
ruta_archivo_parquet_f1 = os.path.join(directorio_entrada, "df_f1.parquet")
ruta_archivo_parquet_f2_f3 = os.path.join(directorio_entrada, "df_f2_f3.parquet")
ruta_archivo_parquet_f4_f5 = os.path.join(directorio_entrada, "df_f4_f5.parquet")

# Importar los DataFrames desde archivos Parquet
df_f1 = pd.read_parquet(ruta_archivo_parquet_f1)
df_f2_f3 = pd.read_parquet(ruta_archivo_parquet_f2_f3)
df_f4_f5 = pd.read_parquet(ruta_archivo_parquet_f4_f5)

# Mostrar información sobre los DataFrames recién importados
print("Información del DataFrame df_f1:")
print(df_f1.info())

print("\nInformación del DataFrame df_f2_f3:")
print(df_f2_f3.info())

print("\nInformación del DataFrame df_f4_f5:")
print(df_f4_f5.info())

Información del DataFrame df_f1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965687 entries, 0 to 9965686
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   genres            object
 1   year_release      Int64
 2   playtime_forever  float64
dtypes: Int64(1), float64(1), object(1)
memory usage: 237.6+ MB
None

Información del DataFrame df_f2_f3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99137 entries, 0 to 99136
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genres            99137 non-null  object
 1   year_release      97508 non-null  Int64
 2   playtime_forever  99137 non-null  float64
 3   recommend         99137 non-null  bool
 4   user_id           99137 non-null  object
 5   item_name         99137 non-null  object
 6   developer         99137 non-null  object
 7   year_review       80738 non-null  Int64
 8   Sentiment_Score   99137 non-null  int64
dtypes: Int64(2), bool(1), float64(1), int64(1), object(4)
memory usage: 6.3+ MB
None

Información del DataFrame df_f4_f5:
<class 'pandas.core.frame.DataFrame'>
Index: 123918 entries, 0 to 127746
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   genres           123918 non-null  object
 1   year_release     123786 non-null  Int64
 2   user_id          123918 non-null  object
 3   developer        123918 non-null  object
 4   recommend        123918 non-null  bool
 5   year_review      101825 non-null  Int64
 6   Sentiment_Score  123918 non-null  int64
dtypes: Int64(2), bool(1), int64(1), object(3)
memory usage: 7.0+ MB
None